div class="form-group"

  input name="filter_text" required="" type="text" placeholder="Type to filter by status, kind, invoice_num and reporter" class="form-control ops-search" data-company-id="#{company.id}"

