---
http_interactions:
- request:
    method: get
    uri: https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?api_key=gTA7KrJRJM8o451YTy3z&date.gte=2017-12-01&date.lte=2018-01-28&ticker=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd3cde83b10519ec2f083243b27e7e53"
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49985'
    body:
      encoding: ASCII-8BIT
      string: '{"datatable":{"data":[["AAPL","2017-12-01",169.95,171.67,168.5,171.05,39590080.0,0.0,1.0,169.95,171.67,168.5,171.05,39590080.0],["AAPL","2017-12-04",172.48,172.62,169.63,169.8,32115052.0,0.0,1.0,172.48,172.62,169.63,169.8,32115052.0],["AAPL","2017-12-05",169.06,171.52,168.4,169.64,27008428.0,0.0,1.0,169.06,171.52,168.4,169.64,27008428.0],["AAPL","2017-12-06",167.5,170.2047,166.46,169.01,28224357.0,0.0,1.0,167.5,170.2047,166.46,169.01,28224357.0],["AAPL","2017-12-07",169.03,170.44,168.91,169.452,24469613.0,0.0,1.0,16[...]
- request:
    method: get
    uri: https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?api_key=XXXX&date.gte=2017-12-01&date.lte=2018-01-28&ticker=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "quandl_error": { "code": "QEAx01", "message": "We could not recognize
        your API key. Please check your API key and try again." } }'
  recorded_at: Sun, 28 Jan 2018 11:25:05 GMT
recorded_with: VCR 4.0.0
